body{
    background: rgb(245, 221, 241);
}

.cover {
    .br-header{
        width: auto;
        height: 5ch;
        background: rgb(151, 98, 142);
    }

    .br-title{
        text-align: center;
    }
}